<!-- === Start JS  ===  -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="javascripts/jquery-migrate-1.2.1.min.js"></script>
<script src="javascripts/waypoints.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/modernizr.custom.js"></script>
<script src="javascripts/jquery.knob.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="javascripts/custom.js"></script>
<!-- === End JS ===  -->

</body>
</html>
