<% include head %>

<!-- === Start Content ===  -->
<div class="main">

	<section class="ha-waypoint section-home no-padding" id="section_1">
 		<div class="" data-andown="fadeIn" data-animation="animation">
 		<img src="images/banner.png" />
		</div>
	</section>

	<section class="ha-waypoint section-recentposts" id="section_11">
	<div class="content-box center">
		<div class="row animated opacity" data-andown="fadeIn" data-animation="animation">
			<h1>Organizaciones</h1>
			<hr>

			<p>Somos la Red Nacional del Voluntariado y buscamos fomentar y posicionar el voluntariado social de actores y sectores vinculados al desarrollo de la sociedad nicaragüense. Una red que aglutina, articula y promueve acciones que contribuyan al fortalecimiento del voluntariado social a través de las personas y organizaciones que la integran. </p>

			<p>Te invitamos a que este jueves 5 de diciembre te sumes a la feria de la RNV de 10 AM a 4 P.M. frente ala UNIi y conozcas el trabajo que cientos de voluntarios y voluntarias realizan Nicaragua. Somos muchos, podemos ser más</p>

			<div class="grid-row row">
				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			    	<h4>Comunidades Eclesiales de Base</h4>
			    	<hr>
			    </a>

	        <p><small>Las CEB en Managua nacimos en 1966 y somos Comunidades con una identidad cristiana, con una opción preferencial por los pobres y excluidos, dedicados a la evangelización, formación social y política de sus miembros, a la prevención y atención a grupos en situación de vulnerabilidad. A través de la aplicación de un modelo participativo de acompañamiento, de asesoría y trabajo articulado.</small></p>

	        <p><small>Queremos ser CEB vivas, abiertas, fraternas, comprometidas, siendo un referente de participación y acción, en pro de los Derechos de las personas, contribuyendo así al proceso liberador de los empobrecidos y excluidos.</small></p>
				</article>


				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			      <h4>Alianzas Federación Red Nica salud/NICASALUD</h4>
			      <hr>
			    </a>

	        <p><small>Somos una red de organizaciones trabajando en sinergia y gestión del conocimiento para contribuir a la mejora de la calidad de vida de la población vulnerable con énfasis en el derecho a la salud desde el enfoque de género con participación activa de las comunidades.</small></p>

	        <p><small>La Federación Red NicaSalud, es referente nacional e internacional en el abordaje integral de la salud con enfoque de derechos e identificada por las comunidades como aliada estratégica para su desarrollo.</small></p>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			    	<h4>Universidad de las Regiones de la Costa Caribe Nicaragüense</h4>
			    	<hr>

			    	<p><small>Formación de recursos humanos, con conocimientos y capacidades científico-técnica, actitudes humanistas, sentido del emprendimiento y la innovación, que contribuyan al  fortalecimiento del sistema autonómico regional y del país.</small></p>

			    	<p><small>Ser líder en el paradigma de universidad comunitaria intercultural nacional e internacional, que acompaña procesos de desarrollo con identidad de los pueblos indígenas,  mestizos, comunidades étnicas y afro descendientes para la promoción de la ciudadanía intercultural.</small></p>

			    </a>
			  </article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			    	<h4>Raleigh</h4>
			    	<hr>
			    </a>

	        <p><small>Reunir a personas de todo el mundo. Para inspirar, desafiar y desarrollarse como individuos para trabajar en sociedad como ciudadanos globales activos. Aprendiendo a construir comunidades sostenibles y conservar el medio ambiente.</small></p>

					<p><small>Nuestra visión es un mundo donde los jóvenes sienten un sentido de pertenencia a una comunidad global. Una comunidad trabajando juntos para fortalecer y mejorar el mundo que les rodea.</small></p>
				</article>
			</div>

			<div class="grid-row row">
				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Asociación Los Pipitos</h4>
	  	      <hr>
	        </a>

	        <p><small>Padres, madres, familiares y amigos de los niños, niñas, adolescentes y jóvenes con discapacidad bajo la bandera de Los Pipitos, trabajamos unidos y en forma conjunta, organizada y solidaria para sensibilizar y educar a las familias, la comunidad nacional e internacional, las organizaciones de la sociedad civil e instituciones del Estado, promoviendo los Derechos Humanos de las personas con discapacidad, para que juntos nos dispongamos a definir, legislar e implementar políticas, programas, estrategias comunitarias y de servicios de atención especializada a fin de potenciar el desarrollo integral de nuestros hijos e hijas, mejorando la calidad de sus vidas.</small></p>

	        <p><small>Somos una Asociación socio-voluntaria de padres, madres, familiares y amigos de los niños, niñas, adolescentes y jóvenes con discapacidad. Nos brindamos apoyo y solidaridad mutua y trabajamos para que nuestros hijos e hijas alcancen su pleno desarrollo y felicidad en una sociedad con igualdad de oportunidades.</small></p>

				</article>


				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			      <h4>Asociación Scout de Nicaragua </h4>
			      <hr>
			    </a>

	        <p><small>La misión de la Asociación es contribuir a la educación integral de las niñas, niños, adolescentes y Jóvenes, por medio de un sistema de Valores basados en la ley scout y la promesa, para que participen en la construcción de un mundo mejor en donde las personas se desarrollen plenamente como individuos y jueguen un papel constructivo en la sociedad.</small></p>

	        <p><small>La Asociación de scouts de Nicaragua se ve a sí misma como una organización educativa confiable, que cada vez integra a mas niñas, niños, adolescente y jóvenes de todos los sectores sociales, atractivo para los adultos y que contribuye de manera efectiva a la construcción de un mundo mejor.</small></p>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
		        <h4>Cruz Roja Nicaragüense</h4>
		        <hr>
	        </a>

	        <p><small>Cruz Roja Nicaragüense, una institución humanitaria sin fines de lucro, auxiliar de los poderes públicos y de carácter voluntario, miembro del Movimiento De Cruz Roja y Media Luna Roja, tiene como misión:</small></p>

					<p><small>"Contribuir a proteger y mejorar la calidad de vida, la salud, la dignidad humana y a la reducción de la vulnerabilidad de las personas, sin distingo de raza, religión, nacionalidad, sexo, condición social o política. Se esfuerza, además, en la búsqueda y fomento de la paz y el estricto respeto a los derechos de las personas."</small></p>

	        <p><small>1. Promocionar las capacidades de los más vulnerables hacia un desarrollo integral</small></p>

					<p><small>Avizoramos para el año 2010, a una Sociedad Nacional en la que cada uno de sus miembros han cumplido a cabalidad sus tareas y su misión de servicio, promocionando las capacidades de las personas más vulnerables en aras de su desarrollo integral, contribuyendo así a un mejor futuro para nuestro país.</small></p>

					<p><small>2. Mejorar la calidad de vida de los vulnerables a través de nuestros programas y servicios</small></p>

					<p><small>Hemos promovido el desarrollo con amplitud de los más desposeídos y vulnerables, a través de nuestros programas y servicios a nivel nacional, apoyado en fortalecimiento de sus capacidades hacia un cambio de mentalidad y actitud que les ha permitido capacidades para vivir mejor, desarrollando propuestas que beneficien sus necesidades, sus sueños y sus esperanzas.</small></p>

					<span id="read_more">...<a href="#">seguir leyendo</a></span>
					<div class="show-more">
						<p><small>3. Excelencia de los servicios en pro de los más vulnerables a través de nuestros voluntarios entusiastas y sensibilizados a los cambios</small></p>

						<p><small>Nos mantenemos orientados hacia la excelencia de los servicios en pro de la población más vulnerable, con voluntarios entusiastas y sensibilizados a los cambios, auto sostenibilidad y el apoyo de sus comunidades e integración a nuestra Sociedad Nacional.</small></p>

						<p><small>4. Contribución a la preservación de la paz</small></p>

						<p><small>En medio de todos los desastres que aquejan a la humanidad, de todas las tragedias, de todos los dolores, atrapados frente a la muerte sin misericordia de los seres queridos, en el centro de las guerras cruentas con los misiles cruzando los cielos, siempre hay una esperanza en el retorno de la paz, la bondad, la luz y el amor.</small></p>
					</div>
	   		</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
		        <h4>Centro Dos Generaciones</h4><hr>
	        </a>

	        <p><small>El Centro Dos Generaciones, es una organización de la sociedad civil, que ejerciendo su autodeterminación, asume la responsabilidad de contribuir al desarrollo humano y social de las personas aportando a su empoderamiento y desarrollo de su condición de sujetos sociales y sujetos de derecho, promoviendo el conocimiento y respeto de los Derechos Humanos con énfasis en las niñas, niños, adolescentes, jóvenes y mujeres.</small></p>

	        <p><small>Las y los socios del Centro Dos Generaciones así como sus trabajadores y trabajadoras orientan su compromiso social e institucional basados en una visión del desarrollo humano y social de las y los nicaragüenses sustentado en el reconocimiento de su dignidad, de su condición de personas, seres humanos y ciudadanos, todas y todos con derechos y en el ejercicio de sus capacidades y competencias individuales y colectivas.</small></p>

					<p><small>Una Nicaragua como nación que se desarrolla basada en un sistema de relaciones que promueve la justicia, el respeto a la diversidad y la solidaridad, la democracia participativa y representativa y donde el estado promueve y respeta los Derechos Humanos, las leyes y la institucionalidad; actúa con eficiencia y transparencia y redistribuye la riqueza en forma equitativa generando oportunidades para todas y todos, y fortalece el desarrollo de los gobiernos municipales orientados al mejoramiento de la calidad de vida de las personas.</small></p>
				</article>
			</div>

			<div class="grid-row row">
				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Centro Alexander Von Humboldt</h4>
	  	      <hr>
	        </a>

	        <p><small>La promoción del desarrollo territorial y la gestión del ambiente.</small></p>

	        <p><small>Ser un organismo con calidad e impacto, incidiendo en la gestión ambiental sustentable con equidad y enfoque de derecho a nivel nacional, regional y global.</small></p>
				</article>


				<article class="col-md-3 col-sm-6">
			    <a href="#"  data-animation="fade">
			    	<h4>Hábitat para la Humanidad Nicaragua</h4>
			    	<hr>
			    </a>

	        <p><small>Hábitat para la Humanidad convoca a la gente para construir viviendas, comunidades y esperanza, y así mostrar el amor de Dios en acción.</small></p>

	        <p><small>Un mundo donde todos tengan un lugar adecuado para vivir.</small></p>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Aldeas SOS de Managua</h4>
	  	      <hr>
	        </a>

	        <p><small>Creamos familias para niñas y niños necesitados, los ayudamos a formar su propio futuro y participamos en el desarrollo de sus comunidades.</small></p>

	        <p><small>Cada niño y cada niña crecen con amor. Cada niño y cada niña crecen con respeto. Cada niño y cada niña crecen con seguridad.</small></p>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
		        <h4>Asociación Cristiana de Jóvenes de Nicaragua</h4><hr>
	        </a>

	        <p><small>Fortalecer las capacidades de las y los jóvenes y comunidades, para reducir las desigualdades entre géneros  y generacionales, en un ambiente saludable.</small></p>
				</article>
			</div>

			<div class="grid-row row">
				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Club Metamorfosis</h4>
	  	      <hr>
	        </a>

	        <p><small>Contribuir al desarrollo de las juventudes, personal y colectivamente, que tienen el deseo de empoderarse y tomar decisiones de manera libre e informada,  desde un marco de referencia de masculinidades, feminidades y diversidades.</small></p>

	        <p><small>Somos una organización de mujeres y hombres jóvenes que brinda un espacio de coordinación promoviendo la participación amplia a la juventud como punto de partida para ser mejores personas, líderes y agentes de cambio desde nuestros territorios.</small></p>

					<p><small>Somos agentes constructores de la paz, con gran compromiso social, que apostamos porque otro Mundo sea posible, es decir, por la construcción de un mundo más humano, más equitativo y más libre.
					Asumimos y promovemos en nuestro enfoque de trabajo: Respeto por el medio ambiente, la interculturalidad, equidad de género desde el trabajo de feminidad, masculinidad y la diversidad sexual.</small></p>

				</article>


				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			      <h4>Fundación Lupus Eritematoso Sistémico de Nicaragua </h4>
			      <hr>
			    </a>

	        <p><small>Captar a la mayoría de la población que padece de Lupus Eritematoso Sistémico  y otras enfermedades autoinmune en Nicaragua, para  aliviar el dolor y sufrimiento,  y mejorar el pronóstico, brindar apoyo médico, y farmacológico, con el fin de disminuir la morbi-mortalidad de los afectados con dicho padecer;  Educar y Fortalecer las relaciones   entre los miembros para que conozcan de su padecimiento y evitar así recaídas;   Obtener la solidaridad de los medios de comunicación,  amigos, profesionales, población en general, así como organizaciones nacionales e internacionales, que faciliten ejecutar nuestros objetivos. </small></p>

	        <p><small>Ser una Organización Humanitaria de alto valor ético y profesional, que mejore  la salud  y la calidad de vida de los pacientes que conviven con Lupus Eritematoso y otras Enfermedades Autoinmunes, a través de promover investigaciones científicas que contribuyan al diagnóstico precoz, el control y tratamiento efectivo,  y  lograr donaciones que permitan salvaguardar  a los  miembros de esta Fundación.</small></p>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Visión Mundial</h4>
	  	      <hr>
	        </a>

	        <p><small>Visión Mundial es una organización cristiana humanitaria cuyo objetivo es alcanzar la plenitud de vidas de los niños, niñas, sus familias y comunidades para vencer la pobreza y la injusticia. Inspirados por los valores cristianos, Visión Mundial está dedicada a trabajar con la gente más vulnerable, independientemente de su religión, raza, grupo étnico o género.</small></p>

					<p><small>Desde 1950, Visión Mundial Internacional ha ayudado a millones de niños, niñas y familias, brindando apoyo en emergencias a aquellos afectados por desastres naturales y sociales; creando soluciones a largo plazo dentro de comunidades para reducir la pobreza y promover la justicia.</small></p>

					<p><small>Nuestro principal compromiso es con los niños y niñas de las comunidades que acompañamos. Con el propósito de ayudarles a garantizar un mejor futuro, Visión Mundial se enfoca en: la transformación y empoderamiento de las familias y comunidades.</small></p>

				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
		        <h4>Programa Voluntarios de las Naciones Unidas</h4><hr>
	        </a>

	        <p><small>El voluntariado beneficia tanto a la sociedad en general como al propio voluntario. Además de importantes aportaciones a nivel económico y social, también contribuye a formar sociedades más cohesivas, ya que fomenta la confianza y la reciprocidad entre los ciudadanos.</small></p>

					<p><small>El programa de Voluntarios de las Naciones Unidas es la organización de las Naciones Unidas que apoya el desarrollo humano sostenible en todo el mundo a través de la promoción del voluntariado y la movilización de voluntarios.</small></p>

					<p><small>El programa sirve a la causa de la paz y el desarrollo mediante la mejora de las oportunidades de participación de todos los pueblos. Tiene alcance universal, inclusivo y abarca la acción voluntaria en toda su diversidad. Valora el libre albedrío, el compromiso, la entrega y la solidaridad, que son los cimientos del voluntariado.</small></p>

				</article>
			</div>

			<div class="grid-row row">

				<article class="col-md-3 col-sm-6">
					<a href="#" data-animation="fade">
			      <h4>TECHO - Nicaragua</h4>
			      <hr>
			    </a>

	        <p><small>Trabajar sin descanso en los asentamientos precarios para superar la pobreza, a través de la formación y la acción conjunta de sus pobladores y jóvenes voluntarios, promoviendo el desarrollo comunitario, denunciando la situación en la que viven las comunidades más excluidas e incidiendo junto a otros en política.</small></p>

	        <p><small>Una sociedad justa y sin pobreza, donde todas las personas tengan las oportunidades para desarrollar sus capacidades y puedan ejercer y gozar plenamente sus derechos. </small></p>

				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Voluntariado Social UCA</h4>
	  	      <hr>
	        </a>

	        <p><small>Tomar conciencia de la realidad, contribuir al desarrollo de la humanidad  y compartir y convivir con los y las  que más sufren.</small></p>

	        <p><small>Ofrecer un espacio para que las personas desarrollen sentimientos de solidaridad y humanismo ante el clamor de los y las más desprotegidas. El Voluntariado Social cuida de la formación en valores, contribuyendo a la formación integral de los y las voluntarias/os.</small></p>

					<p><small>Redactar la misión, visión u objetivos.</small></p>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			      <h4>Club Rotaract Managua- Tiscapa</h4>
			      <hr>
			    </a>
				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
		        <h4>Universidad Central de Nicaragua</h4>
		        <hr>
	        </a>

				</article>
			</div>

			<div class="grid-row row">
				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			    	<h4>UNAN-Managua</h4>
			    	<hr>
			    </a>
				</article>


				<article class="col-md-3 col-sm-6">
					<a href="#" data-animation="fade">
			      <h4>Universidad de Ingeniería </h4>
			      <hr>
			    </a>

				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
			    	<h4>Asociación Civil Cuerpo de Bomberos Voluntarios de Nicaragua</h4>
			    	<hr>
			    </a>

				</article>

				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
		        <h4>Universidad Evangélica Nicaragüense</h4>
		        <hr>
	        </a>

				</article>
			</div>

			<div class="grid-row row">
				<article class="col-md-3 col-sm-6">
					<a href="#"  data-animation="fade">
	  	      <h4>Universidad Politécnica de Nicaragua</h4>
	  	      <hr>
	        </a>
				</article>
			</div>
		</div>
	</div>
	</section>

	<section class="section-contact-form">
	<div class="content-box">
		<div class="section-contact-form-c">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<h4 class="white center">Mapa</h4><hr>
						<div id="google-maps"></div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
							<h4 class="white center">Información</h4><hr>
              <ul class="unstyled info-li contact-icon">
                <li>
                    <i class="icon-map-marker"></i>
                    Frente a la Universidad de de Ingeniería UNI
                </li>
                <li>
                    <i class="icon-globe"></i>
                    Web: <a href="http://www.voluntariadonicaragua.com">www.voluntariadonicaragua.com</a>
                </li>
                <li>
                	<i class="icon-envelope"></i>
                	Correo: <a href="mailto:rnv.nicaragua@gmail.com">rnv.nicaragua@gmail.com</a>
                </li>
              </ul>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6">
					</div>
				</div>
		</div>
	</div>
	</section>

</div>

<!-- === End Content ===  -->
<% include footer %>
